html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a:visited, a:active{
  color:unset;
  text-decoration: none;
}

ul {
  font-size: 16px;
  list-style: none;
  padding: 0;
}

p,
time {
  font-size: 16px;
}

@font-face {
  font-family: "Roboto";
  src: url("../bootstrap/fonts/Roboto-Regular.woff") format("woff");
  src: url("../bootstrap/fonts/Roboto-Thin.woff") format("woff");
  src: url("../bootstrap/fonts/Roboto-ThinItalic.woff") format("woff");
  src: url("../bootstrap/fonts/Roboto-LightItalic.woff") format("woff");
  src: url("../bootstrap/fonts/Roboto-Light.woff") format("woff");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::selection {
  background-color: black; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background-color: black; /* WebKit/Blink Browsers */
  color: white;
}

::-webkit-scrollbar-track {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}

@page {
  size: A4;
}

.list li time, .list li strong{
  font-weight: bold !important;
}

.list li strong{
  display: block;
}

.box-margin {
  margin-bottom: 100px;
}

#main {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  box-shadow: 0 0 28px rgba(0,0,0,0.25);
  margin:50px auto;
  border-radius:5px;
}

.border-left {
  border-left: dotted 1px rgba(0, 0, 0, 0.3);
}

.cv_author {
  border: 1px black solid;
  border-radius: 2px;
}

.cv_author h1 {
  font-weight: 500;
  margin: 20px 0;
}

.cv_name p {
  font-size: 16px;
  width: 41px;
  margin: -13.5px auto 0px auto;
  padding: 0 10px;
  background-color: #f8f8f8;
  font-weight: 500;
  text-align: center;
}

#cv_img {
  margin: 50px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: block;
}

.about_content {
  text-align: right;
  text-align-last: right;
}

.about_story {
  line-height: 30px;
}

.right-box {
  width: 80%;
  margin-right: auto;
}

.left-box {
  width: 80%;
  margin-left: auto;
}


.box > .about_story:last-child {
  margin-bottom: 0;
}

.skill-rate {
  position: relative;
  margin-top: -10px;
  height:10px;
}

.level-one, .level-two, .level-three, .level-four, .level-five{
  position: absolute;
  top:0;
  height: 10px;
  width:2px;
  background-color:rgba(0, 0, 0, .15);
}

.exp-level-one{
  width: 20%;
}

.exp-level-two{
  width: 40%;
}

.exp-level-three{
  width: 60%;
}

.exp-level-four{
  width: 80%;
}

.exp-level-five{
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.level-one{
  left: 20%;
}

.level-two{
  left: 40%;
}

.level-three{
  left: 60%;
}

.level-four{
  left: 80%;
}

.time {
  font-weight: bold;
}

.box-title {
  display: inline-block;
  border-bottom-style: solid;
}

.projects-box{
  overflow-y: auto;
  max-height: 574px;
}

.language-skill li{
    display: block !important;
}

.language-skill .level-one{
  left: unset;
  right: calc((100 / 6) * 1%);
}
.language-skill .level-two{
  left: unset;
  right: calc((100 / 6) * 2%);
}
.language-skill .level-three{
  left: unset;
  right: calc((100 / 6) * 3%);
}
.language-skill .level-four{
  left: unset;
  right: calc((100 / 6) * 4%);
}



.language-skill .level-five{
  right: calc((100 / 6) * 5%);
}

.skill-rate-description {
  padding-left: 18px;
  font-size: 16px;
}

.skill-rate-description li {
  margin: 2px 0;
}



.print-cv{
  display:block;
  margin-left: auto;

  width:110px;
  height:30px;


  padding: 5px;
  background-image: url('../images/print.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 77.5px center;
  outline:none;
  background-color:transparent;
  border:none;

  border-bottom: solid 1px transparent;
  opacity: .75;
}

.print-cv:hover{
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

#loading{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width:100%;
  height:100%;
  background-color:white;
  z-index: 5;
  top:0;
  left:0;
}

.project-item{
  position: relative;
  display: block;
  width:100%;
  margin-top:10px;
  padding:10px;
  background-image: linear-gradient(-90deg, #a17fe0 25%, #a8c0ff);
  color: white !important;
  border-radius:2.5px;
  font-size: 16px;
  opacity: .8;

  transition: opacity  .2s ease-in-out;
}
.project-item::before{
  position: absolute;
  content: '';
  background-image: url('../images/github.svg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  left: 10px;
  top:10px;
  filter: brightness(0%) invert(1);
}

.project-item:hover{
  text-decoration: none;
  opacity: 1;
}

.skill-group{
  width:80%;
  margin: 30px 0px 15px 0px;
  font-weight:bold;
}

.private-project{
  background: unset;
  background-color:#7f8c8d;
  opacity: 1;
  cursor: not-allowed;
}

.private-project::before{
  background-image: none;
}

.exp_bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.exped {
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 10px;
  margin-top: -10px;
  transition: width .45s ease-in-out;
}

.exped-right {
  background: linear-gradient(90deg, #a17fe0, #a8c0ff);
}

.skill-list-desc-language li{
  display: inline-block;
  width:calc((100/6)*.95%);
  text-align-last: center;
}
.skill-list-desc-programing{
  width: 80%;
  margin-left: 25px;
  margin-top:22.5px;
  display: flex;
}
.skill-list-desc-programing li{
  display: inline-block;
  flex-basis: 19%;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.skill-list-desc-programing li::before{
    content: '*';
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: -14px;
    height: 5px;
    border-radius: 50%;
    /* background-color: black; */
    display: block;
    margin: 0 auto;
    position: absolute;
}

.exped-left {
  margin-left: auto;
  background: linear-gradient(90deg, #a8c0ff, #a17fe0);

  border-top-left-radius: unset;
  border-bottom-left-radius: unset;


  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line {
  border: dotted .5px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 30px auto;
}

.empty-img{
  width: 25px;
  height: 32px;
}


.skill-list {

  margin-bottom: 12px;
}

.skill-list > li {
  display:flex;
  margin-top: 15px;
}

.skill-item-content{
  flex-grow: 1;
  margin-left:10px;
}

.skill-item-icon{
  width: 25px;
  height: auto;
  max-height: 32px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skill-list > li:first-child {
  margin-top: 0px;
}

.footer {
  text-align: center;
}

.footer_img_large {
  width: 50px;
  height: 50px;
}

.footer_item_box {
  margin: 40px 0;
}

.footer_heading {
  margin: 0px;
}

.footer_text {
  text-align: center;
  margin: 10px 0;
}

.footer_img_small {
  width: 20px;
  height: 20px;
}

.footer_link {
  color: black;
}

.footer_link:hover {
  color: black;
}


@media (max-width: 992px) {
  .left-box{
    width: 100%;
    margin-left: unset;
  }

  .about_content{
    text-align: left;
    text-align-last: left;
  }


  .exped-left{
    margin-left: unset;
  }

  .border-left {
    border-left: none;
  }

  .right-box{
    width: unset;
  }

  .about_story{
    font-size: 18px;
  }

}


@media (max-width: 481px) {
  .footer_img_large {
    float: none;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }
  .footer_text_large {
    text-align: center;
    float: none;
    margin: 15px 0;
  }
}


@media print {
  .left-box .skill-group{
    text-align-last: right;
    width:unset;
  }

  .left-box .skill-list{
    width:unset;
  }

  .left-box .skill-item-content{
    text-align-last: right;
    margin-left:0;
    margin-right: 10px;
  }

  .left-box:not(:last-child){
    margin-bottom:13px;
  }

  .contact-box li{
    display: flex;
    align-items: center;
  }

  .contact-box li img{
    margin-left: 10px;
    display: block;
  }

  .contact-box li p {
    margin:0;

  }
  .skill-list-desc-programing{
    margin:0;
    margin-left:35px;
    margin-top: 10px;
    width:unset;
  }
  .skill-list-desc-programing li{
    font-size: 8pt;
    flex-basis: 20%;
  }

  .skill-list-desc-programing li::before{
    top:-8px;
  }
  .skill-rate{
    height: 5px;
    margin-top: -5px;
  }
  .border-left{
    border-left: dashed 1px rgba(0, 0, 0, 0.3);
    -webkit-print-color-adjust:exact !important;
  }

  .exp_bar{
    border-radius: 2.5px;
  }

  .exped.exped-right{
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
  }

  .exped.exped-left{
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }

  .exped{

    margin-top: -5px;
  }
  *:last-child{
    page-break-after: avoid;
    page-break-inside: avoid;
    margin-bottom: 0px;
  }
  .cv_author {
    border:unset;
  }

  img{
    -webkit-print-color-adjust:exact !important;
  }

  .cv_author h1 {
    font-weight: 500;
    font-size: 26px;
    margin: 20px 0;
  }

  .cv_name p {
    font-size: 18px;
    width: 41px;
    margin: 10px auto 0px auto;
    padding: 0 10px;
    background-color: #f8f8f8;
    font-weight: 500;
  }

  .about_content {
    text-align: left;
    text-align-last: left;
  }

  .about_story {
    margin: 5px 20px 5px 0;
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
  }

  .line {
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
  }
}

#print-box{
  margin: 20px 0;
}


@media print {
  .skill-list li:not(:last-child){
    margin:5.5px 0;
  }


  .footer{
    margin-left: 0;
  }

  .footer > div{
    display: flex;
    flex-wrap: wrap;
    margin-top:5px;
  }

  .footer_img_large{
    width:20px;
    height:20px;
    margin-right: 5px;
  }

  .footer_item_box{
    display: flex;
    margin:0;
  }

  .footer_item_box:not(:last-child){
    margin-right:12px;
  }

  .footer_text{
    font-size: 8pt;
    margin:0;
  }

  .skill-group{
    margin: 5px 0;
  }

  .level-one, .level-two, .level-three, .level-four, .level-five {
    background-color: rgba(0, 0, 0, .15) !important;
    -webkit-print-color-adjust:exact !important;
    height:5px;
  }

  .exp_bar{
    height:5px;
    background-color: rgba(0, 0, 0, 0.15) !important;
    -webkit-print-color-adjust:exact !important;
  }

  .exped-right, .exped-left{
    height: 5px;
  }

  .list li p{
    font-size: 10pt;
  }
  .list li strong{
    font-size: 10pt;
  }
  .time{
    font-size: 10pt;
  }
  #all{
    display:flex;
  }

  .language-skill li {
    font-size: 10pt;
    text-align-last: right;
  }
  .skill-list-desc-language{
    font-size: 10pt;
  }

  .cv_box{
    flex-basis: 50%;
  }

  .experienced_content{
    flex-basis: 49%;
  }
  .footer-img-print{
    width:14px;
    height: 14px;
  }
  .box-margin{
    margin:0;
    margin-left:auto;
  }

  #cv_img {
    margin:0;
    width:60px;
    height: 60px;
  }

  .projects-box p{
    font-size: 10pt;
    text-align: right;
    text-align-last: right;
  }
  .skill-list{
    margin-bottom:2px;
  }


  .list li{
    text-align-last: right;
  }

  .cv_box .box-title{
    display:block;
    width: fit-content;
    margin-left: auto !important;
  }

  .cv_author h1{
    margin-top:0;
    margin-bottom: 0;
    font-size: 14pt;
  }

  .cv_name p{
    font-size: 10pt;
    margin:0 auto;
  }

  .about_story{
    font-size: 10pt;
    margin: 0;
    line-height: unset;
    text-align: right;
    text-align-last: right;
  }

  .box-title{
    margin:0;
    font-size: 12pt;
  }

  .skill-group{
    font-size: 10pt;
  }

  .cv_box{
    margin-top:0;
    display: block;
    width: 50%;
    padding-top:0;
  }

  .experienced_content{
    display: block;
    width: 49%;

  }

  .skill-list > li{
    margin-top:0;
  }

  .skill-item-content{
    font-size: 10pt;
  }

  #print-box{
    display:none;
  }
  #main{
    margin:0 auto;
  }
  #bottom{
    top: 1068px;
    left:0;
    height: 1px ;
    width: 100%;
    position: absolute;
    background-color: red !important;
    -webkit-print-color-adjust:exact !important;
  }

  .skill-item-icon{
    -webkit-print-color-adjust:exact !important;
  }

  .print-cv{
    display: none;
  }
  .exped-right {
    background-image: linear-gradient(90deg, #a17fe0, #a8c0ff) !important;
    -webkit-print-color-adjust:exact !important;
  }
  
  .exped-left {

    background-image: linear-gradient(90deg, #a8c0ff, #a17fe0) !important;
    -webkit-print-color-adjust:exact !important;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-left: auto;
  }

  .print-cv-header{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }

  .cv_img{
    margin:0 !important;
  }
  .cv_author{
    margin-left:15px;
  }
}
/*
@media print {


  p{
    margin-bottom: 5px;
  }

  .line{
    display:none;
  }

  #print-box{
    display:none;
  }

  .box-margin{
    margin-bottom:10px;
  }

  .projects-box p{
    display: inline-block;
    font-size: 10pt;
  }

  
  .border-left {
    border-left: unset;
  }

  #main{
    margin-top:unset;
  }
  
  .cv_author {
    display:block;
    max-width: fit-content !important;
    margin: 0 auto;
  }
  
  .cv_author h1 {
    font-size: 14pt !important;
    font-weight: 500;
    margin: 0px 10px 10px 0px;
  }
  
  .cv_name p {
    font-size: 10pt;
    width: 41px;
    margin: -13.5px auto 0px auto;
    padding: 0 10px;
    background-color: white;
    font-weight: 500;
    text-align: center;
  }
  
  #cv_img {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
  }
  
  .about_content {
    text-align: left;
    text-align-last: left;
  }
  
  .about_story {
    line-height: 20px;
    font-size: 10pt;
  }
  
  .right-box {
    width: unset;
    margin-right: unset;
  }
  
  .left-box {
    width:unset
  }
  
  .box > .about_story:last-child {
    margin-bottom: 0;
  }
  
  .time {
    font-weight: bold;
    font-size: 10pt;
  }

  .time + strong{
    font-size: 10pt;
  }

  .time ~ p{
    font-size: 10pt;
  }
  
  .box-title {
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    font-size: 12pt;
    margin:0;
  }
  
  .projects-box{
    overflow-y: auto;
    max-height: 574px;
  }
  
  .print-cv{
    display:block;
    margin-left: auto;
  
    width:110px;
    height:30px;
  
    padding: 5px;
    background-image: url('../images/print.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 77.5px center;
    outline:none;
    background-color:transparent;
    border:none;
  
  
    text-align: left;
    border-bottom: solid 1px transparent;
    opacity: .75;
  }
  
  .print-cv:hover{
    opacity: 1;
    transition: opacity .25s ease-in-out;
  }
  
  #loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width:100%;
    height:100%;
    background-color:white;
    z-index: 5;
    top:0;
    left:0;
  }
  
  .project-item{
    display: block;
    width:100%;
    margin-top:10px;
    padding:10px;
    background-image: linear-gradient(-90deg, #a17fe0 25%, #a8c0ff);
    color: white !important;
    border-radius:2.5px;
    font-size: 16px;
    text-decoration: none;
    transition:  opacity .25s ease-in-out;
    opacity: .75 !important;
  }

  .project-item:hover{
    opacity: 1 !important;
  }
  
  .private-project{
    background: unset;
    background-color:#7f8c8d;
    cursor: not-allowed;
  }
  
  .exp_bar {
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgba(0, 0, 0, 0.15) !important;
    -webkit-print-color-adjust:exact !important;
    z-index: -1;
  }
  
  .exped {
    border-radius: 5px;
    height: 5px;
    margin-top: -5px;
    transition: width .30s ease-in-out;
    background-image: black !important;

  }
  
  .exped-right {
    background-image: linear-gradient(90deg, #a17fe0, #a8c0ff) !important;
    -webkit-print-color-adjust:exact !important;
  }
  
  .exped-left {
    margin-left: unset;
    background-image: linear-gradient(90deg, #a8c0ff, #a17fe0) !important;
    -webkit-print-color-adjust:exact !important;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .line {
    border: dotted .5px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 30px auto;
  }
  
  .skill-list {
    margin-bottom: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-end;
  }

  .skill-list > li {
    font-size: 9pt;
    flex-basis: 15%;
    margin-top: 5px;
    flex-grow: 1;
  }



  .language-skill{
    
    justify-content: flex-start;
  }
  .language-skill li{

    margin-right:4%;
    flex-grow: 0 !important;
    flex-basis: 22% !important;
  }
  .language-skill li:last-child{
    margin-right:0%;
  }

  .skill-list > li:first-child {
    margin-top: 5px;
  }
    
  .contact-box{
    margin-top:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-box li{
    display: flex;
    align-items: center;
    margin:5px 0;
  }


  .footer-img-print{
    width:20pt;
    height:20pt;
  }

  .footer-text-print{
    font-size: 10pt;
    margin: 0px 0px 0px 5px;

  }
}*/